.alinea-rac-Badge {
  display: flex;
  align-items: center;
  padding: auto;
  align-self: normal;
  gap: 8px;
  padding: 8px 12px;
  border-radius: 100px;
  background-color: var(--figma-background-success-subtle);
}

.alinea-rac-Badge-succes {
  background-color: var(--figma-background-success-subtle);
}

.alinea-rac-Badge-warning {
  background-color: var(--figma-foreground-warning-default);
}

.alinea-rac-Badge-neutral {
  background-color: white;
}

.alinea-rac-Badge-danger {
  background-color: #fddfdd;
}
