.alinea-rac-Badge {
  display: flex;
  align-items: center;
  padding: auto;
  align-self: normal;
  gap: 8px;
  padding: 8px 12px;
  border-radius: 100px;
  background-color: var(--alinea-success-50);
}

.alinea-rac-Badge-succes {
  background-color: var(--alinea-success-50);
}

.alinea-rac-Badge-warning {
  background-color: var(--alinea-warning-400);
}

.alinea-rac-Badge-neutral {
  background-color: var(--alinea-gray-0);
}

.alinea-rac-Badge-danger {
  background-color: var(--alinea-danger-50);
}
