@import "../theme.css";

.alinea-rac-Button {
  --alinea-button-color: var(--alinea-highlight-foreground);
  --alinea-button-bg: var(--alinea-highlight-background);
  --alinea-button-border: transparent;
  --alinea-button-hovered: var(--alinea-highlight-background-hovered);
  --alinea-button-pressed: var(--alinea-highlight-background-pressed);

  color: var(--alinea-button-color);
  font: inherit;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  text-align: left;
  appearance: none;
  cursor: pointer;
  outline: none;
  position: relative;
  vertical-align: middle;
  background-color: var(--alinea-button-bg);
  padding: 4px 12px;
  border-radius: 8px;
  border: 1px solid var(--alinea-button-border);
  transition: var(--alinea-transition);
  transition-property: background-color, border-color, color;
  display: inline-flex;
  align-items: center;
  gap: 6px;

  &[data-disabled] {
    cursor: not-allowed;
    pointer-events: none;
  }

  &[data-appearance="outline"] {
    --alinea-button-bg: transparent;
  }

  &[data-appearance="plain"] {
    --alinea-button-color: var(--alinea-text-color);
    --alinea-button-bg: transparent;
    --alinea-button-hovered: var(--alinea-background-color);
    --alinea-button-pressed: var(--alinea-background-color-hover);
  }

  &[data-size="small"] {
    padding: 2px 10px;
    line-height: 20px;
  }

  &[data-size="large"] {
    padding: 8px 14px;
  }

  [data-slot="icon"] {
    flex-shrink: 0;
    display: block;
    font-size: 20px;
  }

  &[data-size="icon"] {
    width: 2rem;
    height: 2rem;
    padding: 0;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    [data-slot="icon"] {
      font-size: 14px;
    }

    &[data-appearance="active"] {
      background-color: var(--alinea-highlight-overlay);
      color: var(--alinea-highlight-background);
    }
  }

  &[data-size="square-petite"] {
    width: 2rem;
    height: 2rem;
    padding: 0;
    border-radius: 0.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &[data-appearance="plain"] {
      color: var(--alinea-icon-color-plain);
    }

    &[data-appearance="active"] {
      background-color: var(--alinea-highlight-overlay);
      color: var(--alinea-highlight-background);
    }

    &[data-hovered] {
      background-color: var(--alinea-button-hovered);
      color: var(--alinea-button-color);
    }

    &[data-hovered][data-appearance="plain"] {
      background-color: var(--alinea-background-color);
      color: var(--alinea-text-color-hover);
    }

    &[data-hovered][data-appearance="outline"] {
      color: var(--alinea-highlight-foreground);
      background-color: var(--alinea-highlight-background-hovered);
    }
  }

  &[data-intent="primary"] {
    --alinea-button-color: var(--alinea-highlight-foreground);
    --alinea-button-bg: var(--alinea-highlight-background);
    --alinea-button-border: transparent;
    --alinea-button-hovered: var(--alinea-highlight-background-hovered);
    --alinea-button-pressed: var(--alinea-highlight-background-pressed);

    &[data-disabled] {
      color: var(--alinea-highlight-foreground-disabled);
      background-color: var(--alinea-highlight-background-disabled);
    }

    &[data-hovered] {
      background-color: var(--alinea-button-hovered);
    }

    &[data-pressed] {
      background-color: var(--alinea-button-pressed) !important;
      box-shadow: inset 0 -2px 2px -1px rgb(0 0 0 / 0.1);
    }

    &[data-appearance="outline"] {
      --alinea-button-color: var(--alinea-highlight-background);
      --alinea-button-bg: transparent;
      --alinea-button-border: var(--alinea-highlight-background);
      --alinea-button-hovered: var(--alinea-primary-50);
    }

    &[data-appearance="outline"][data-disabled] {
      color: var(--alinea-primary-200);
      border-color: var(--alinea-primary-200);
      background-color: transparent;
    }

    &[data-appearance="outline"][data-hovered] {
      color: var(--alinea-button-color);
      background-color: var(--alinea-button-hovered);
    }

    &[data-focus-visible] {
      outline: 2px solid var(--alinea-button-bg);
      outline-offset: 2px;

      &[data-appearance="outline"] {
        outline-color: var(--alinea-highlight-background);
      }

      &[data-appearance="plain"] {
        outline-color: var(--alinea-background-color);
      }
    }
  }

  &[data-intent="secondary"] {
    --alinea-button-color: light-dark(
      var(--alinea-gray-800),
      var(--alinea-gray-200)
    );
    --alinea-button-bg: light-dark(
      var(--alinea-gray-100),
      var(--alinea-gray-800)
    );
    --alinea-button-hovered: light-dark(
      var(--alinea-gray-200),
      var(--alinea-gray-700)
    );
    --alinea-button-pressed: light-dark(
      var(--alinea-gray-300),
      var(--alinea-gray-600)
    );

    &[data-disabled] {
      color: light-dark(var(--alinea-gray-400), var(--alinea-gray-600));
      background-color: light-dark(
        var(--alinea-gray-50),
        var(--alinea-gray-900)
      );
    }

    &[data-hovered] {
      background-color: var(--alinea-button-hovered);
    }

    &[data-pressed] {
      background-color: var(--alinea-button-pressed) !important;
      box-shadow: inset 0 -2px 2px -1px rgb(0 0 0 / 0.1);
    }

    &[data-appearance="outline"] {
      --alinea-button-color: light-dark(
        var(--alinea-gray-700),
        var(--alinea-gray-200)
      );
      --alinea-button-bg: transparent;
      --alinea-button-border: light-dark(
        var(--alinea-gray-300),
        var(--alinea-gray-600)
      );
      --alinea-button-hovered: light-dark(
        var(--alinea-gray-50),
        var(--alinea-gray-800)
      );
    }

    &[data-appearance="outline"][data-disabled] {
      color: light-dark(var(--alinea-gray-400), var(--alinea-gray-600));
      border-color: light-dark(var(--alinea-gray-300), var(--alinea-gray-700));
      background-color: transparent;
    }

    &[data-appearance="outline"][data-hovered] {
      color: light-dark(var(--alinea-gray-800), var(--alinea-gray-100));
      border-color: light-dark(var(--alinea-gray-200), var(--alinea-gray-500));
      background-color: var(--alinea-button-hovered);
    }

    &[data-focus-visible] {
      outline: 2px solid var(--alinea-button-bg);
      outline-offset: 2px;
      outline-color: var(--alinea-background-color);
    }
  }

  &[data-intent="danger"] {
    --alinea-button-color: var(--alinea-gray-50);
    --alinea-button-bg: var(--alinea-danger-400);
    --alinea-button-hovered: var(--alinea-danger-500);
    --alinea-button-pressed: var(--alinea-danger-600);

    &[data-disabled] {
      color: var(--alinea-danger-400);
      background-color: var(--alinea-danger-50);
    }

    &[data-hovered] {
      background-color: var(--alinea-button-hovered);
    }

    &[data-pressed] {
      background-color: var(--alinea-button-pressed) !important;
      box-shadow: inset 0 -2px 2px -1px rgb(0 0 0 / 0.1);
    }

    &[data-appearance="outline"] {
      --alinea-button-color: var(--alinea-danger-400);
      --alinea-button-bg: transparent;
      --alinea-button-border: var(--alinea-danger-400);
      --alinea-button-hovered: var(--alinea-danger-50);
    }

    &[data-appearance="outline"][data-disabled] {
      color: var(--alinea-danger-200);
      border-color: var(--alinea-danger-200);
      background-color: transparent;
    }

    &[data-appearance="outline"][data-hovered] {
      color: var(--alinea-button-color);
      background-color: var(--alinea-button-hovered);
    }

    &[data-focus-visible] {
      outline: 2px solid var(--alinea-button-bg);
      outline-offset: 2px;

      &[data-appearance="outline"] {
        outline-color: var(--alinea-highlight-background);
      }

      &[data-appearance="plain"] {
        outline-color: var(--alinea-background-color);
      }
    }
  }

  &[data-intent="warning"] {
    --alinea-button-color: var(--alinea-gray-900);
    --alinea-button-bg: var(--alinea-warning-400);
    --alinea-button-hovered: var(--alinea-warning-500);
    --alinea-button-pressed: var(--alinea-warning-600);

    &[data-disabled] {
      color: var(--alinea-warning-400);
      background-color: var(--alinea-warning-50);
    }

    &[data-hovered] {
      background-color: var(--alinea-button-hovered);
    }

    &[data-pressed] {
      background-color: var(--alinea-button-pressed) !important;
      box-shadow: inset 0 -2px 2px -1px rgb(0 0 0 / 0.1);
    }

    &[data-appearance="outline"] {
      --alinea-button-color: var(--alinea-warning-600);
      --alinea-button-bg: transparent;
      --alinea-button-border: var(--alinea-warning-600);
      --alinea-button-hovered: var(--alinea-warning-50);
    }

    &[data-appearance="outline"][data-disabled] {
      color: var(--alinea-warning-400);
      border-color: var(--alinea-warning-400);
      background-color: transparent;
    }

    &[data-appearance="outline"][data-hovered] {
      color: var(--alinea-button-color);
      background-color: var(--alinea-button-hovered);
    }

    &[data-focus-visible] {
      outline: 2px solid var(--alinea-button-bg);
      outline-offset: 2px;

      &[data-appearance="outline"] {
        outline-color: var(--alinea-highlight-background);
      }

      &[data-appearance="plain"] {
        outline-color: var(--alinea-background-color);
      }
    }
  }
}
