@import "../theme.css";

.alinea-rac-CheckboxGroup {
  display: flex;
  flex-direction: column;
  gap: 0.571rem;
  color: var(--text-color);

  .alinea-rac-FieldError {
    font-size: 12px;
    color: var(--invalid-color);
  }

  [slot="description"] {
    font-size: 12px;
  }
}
