@import "../theme.css";

.alinea-rac-Checkbox {
  --selected-color: var(--highlight-background);
  --selected-color-pressed: var(--highlight-background-pressed);
  --checkmark-color: var(--highlight-foreground);

  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.571rem;
  font-size: 0.875rem;
  color: var(--text-color);
  forced-color-adjust: none;

  .alinea-rac-Checkbox-box {
    width: 16px;
    height: 16px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
    transition-property: background, border, box-shadow;
  }

  .alinea-rac-Checkbox-mark {
    width: 1rem;
    height: 1rem;
    fill: none;
    stroke: var(--checkmark-color);
    stroke-width: 3px;
    stroke-dasharray: 22px;
    stroke-dashoffset: 66;
    transition: var(--transition);
  }

  &[data-hovered] .alinea-rac-Checkbox-box {
    border-color: var(--border-color-hover);
    box-shadow: 0 0 0 4px var(--box-shadow-color);
  }

  &[data-focus-visible] .alinea-rac-Checkbox-box {
    outline: 2px solid var(--border-color);
    outline-offset: 2px;
  }

  &[data-selected],
  &[data-indeterminate] {
    .alinea-rac-Checkbox-box {
      border-color: var(--selected-color);
      background: var(--selected-color);
    }

    &[data-hovered] .alinea-rac-Checkbox-box {
      box-shadow: 0 0 0 4px var(--highlight-overlay);
    }

    &[data-focus-visible] .alinea-rac-Checkbox-box {
      outline-color: var(--selected-color);
    }

    .alinea-rac-Checkbox-mark {
      stroke-dashoffset: 44;
    }
  }

  &[data-indeterminate] {
    & .alinea-rac-Checkbox-mark {
      stroke: none;
      fill: var(--checkmark-color);
    }
  }

  &[data-invalid] {
    .alinea-rac-Checkbox-box {
      border-color: var(--invalid-color);
    }

    &[data-hovered] .alinea-rac-Checkbox-box {
      box-shadow: 0 0 0 4px var(--invalid-overlay);
    }

    &[data-focus-visible] .alinea-rac-Checkbox-box {
      outline-color: var(--invalid-color);
    }

    &[data-selected],
    &[data-indeterminate] {
      .alinea-rac-Checkbox-box {
        background: var(--invalid-color);
      }
    }
  }

  &[data-disabled] {
    pointer-events: none;
    color: var(--text-color-disabled);
  }
}
