@import "../theme.css";

.alinea-rac-Elevation {
  --alinea-elevation-background: var(--alinea-field-background);
  --alinea-elevation-shadow: var(--alinea-box-shadow-color);
  --alinea-elevation-radius: 6px;
  background: var(--alinea-elevation-background);
  border: 1px solid var(--alinea-border-color);
  box-shadow:
    lch(0 0 0 / 0.022) 0px 3px 6px -2px,
    lch(0 0 0 / 0.044) 0px 1px 1px;
  border-radius: 4px;
  transition: box-shadow var(--alinea-transition);
  padding: 10px;
  font-size: 13px;
  box-sizing: border-box;

  &:empty {
    display: none;
  }

  & .alinea-rac-ElevationHeader {
    padding: 0 3px;
  }
}
