@import "../theme.css";

.alinea-rac-Label {
  .alinea-rac-Label-header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 4px 8px;
    padding-bottom: 8px;
    line-height: 1;
  }

  .alinea-rac-Label-title {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .alinea-rac-Label-icon {
    font-size: var(--alinea-font-size-base);
    color: var(--alinea-text-color);
  }

  .alinea-rac-Label-label {
    color: var(--alinea-text-color);
    font-size: var(--alinea-font-size-base);
    font-weight: 500;
    transition: var(--alinea-transition);
    transition-property: color;
  }

  .alinea-rac-Label-description {
    display: block;
    max-width: 100%;
    color: var(--alinea-text-color-base);
    font-size: var(--alinea-font-size-base);
    line-height: 1.1;
    font-weight: 400;
    font-style: italic;
    white-space: normal;
    word-wrap: break-word;
  }

  .alinea-rac-Label-error {
    color: var(--alinea-danger-500);
    font-size: var(--alinea-font-size-base);
    padding-top: 4px;
  }

  .alinea-rac-Label-required {
    color: var(--alinea-danger-500);
    font-size: var(--alinea-font-size-base);
  }
}
