@import "../theme.css";

.alinea-rac-List {
  color: var(--alinea-text-color);
  border: 1px solid var(--alinea-border-color);
  background: var(--alinea-list-background);
  border-radius: 8px;
  cursor: default;
  overflow: hidden;
  position: relative;
  font-size: 13px;
}

.alinea-rac-ListItem {
  display: flex;
  flex-direction: column;
  position: relative;

  & + & {
    box-shadow: var(--alinea-divider-top);
  }
}

.alinea-rac-ListItem-header {
  align-items: center;
  display: flex;
  gap: 8px;
  padding: 6px 8px;
  height: 26px;
}

.alinea-rac-ListItem-content {
  align-items: center;
  display: flex;
  flex-grow: 1;
  min-width: 0;
}

.alinea-rac-ListItem-leading,
.alinea-rac-ListItem-trailing {
  align-items: center;
  display: flex;
  gap: 8px;
  padding: 0;
  position: relative;
}

.alinea-rac-ListItem-inner {
  flex-grow: 1;
  padding: 10px;
}

.alinea-rac-ListItem-header + .alinea-rac-ListItem-inner {
  padding-top: 4px;
}
