@import "../theme.css";

.alinea-rac-SearchField {
  display: flex;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  height: 1.75rem;
  background: var(--field-background);

  &:hover {
    outline: 2px solid var(--highlight-overlay);
  }

  &:focus-within {
    border-color: var(--highlight-background);
    box-shadow: 0 0 0 4px var(--highlight-overlay);
  }

  .alinea-rac-SearchField-input {
    border-radius: 6px;
    flex: 1;
    font: inherit;
    outline: none;
    width: 100%;
    padding: 8px 10px;
    border: none;
    background: var(--field-background);
    font-size: 0.875rem;
    line-height: 1.5;
    color: var(--field-text-color);

    &::-webkit-search-cancel-button,
    &::-webkit-search-decoration {
      -webkit-appearance: none;
    }
  }

  .alinea-rac-SearchField-clear {
    background: transparent;
    border: none;
    color: var(--icon-color-plain);
    cursor: pointer;
    font-size: 1rem;
    outline: none;
    padding: 4px 6px 0;
  }
}
