@import "../todo/ListBox.css";
@import "../todo/Popover.css";

@import "../theme.css";

.alinea-rac-Select {
  color: var(--text-color);

  .react-aria-Button {
    background: none;
    font: inherit;
    outline: none;
    padding: 8px 10px;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    font-size: 0.875rem;
    line-height: 1.5;
    transition: var(--transition);

    &[data-hovered],
    &[data-focus-visible] {
      border-color: var(--border-color-hover);
    }

    &[aria-expanded="true"] {
      border-color: var(--highlight-background);
      box-shadow: 0 0 0 4px var(--highlight-overlay);
    }
  }

  .react-aria-SelectValue {
    &[data-placeholder] {
      color: var(--text-color-placeholder);
    }
  }

  span[aria-hidden] {
    width: 1.5rem;
    margin-left: 1rem;
    color: var(--text-color);
    forced-color-adjust: none;
  }
}

.react-aria-Popover[data-trigger="Select"] {
  min-width: var(--trigger-width);

  .react-aria-ListBox {
    display: block;
    width: unset;
    max-height: inherit;
    min-height: unset;
    border: none;

    .react-aria-Header {
      padding-left: 1.571rem;
    }
  }

  .react-aria-ListBoxItem {
    cursor: pointer;
    font-size: 0.875rem;
    padding: 0.286rem 0.571rem 0.286rem 1.571rem;

    &[data-focus-visible] {
      outline: none;
    }

    &[data-selected] {
      font-weight: 600;
      background: unset;
      color: var(--text-color);

      &::before {
        content: "✓";
        content: "✓" / "";
        alt: " ";
        position: absolute;
        top: 4px;
        left: 4px;
      }
    }

    &[data-focused],
    &[data-pressed] {
      background: var(--highlight-background);
      color: var(--highlight-foreground);
    }
  }
}

.react-aria-ListBoxItem[href] {
  text-decoration: none;
  cursor: pointer;
}

.react-aria-Select {
  .react-aria-SelectValue {
    [slot="description"] {
      display: none;
    }
  }

  .react-aria-Button {
    &[data-disabled] {
      border-color: var(--border-color-disabled);
      color: var(--text-color-disabled);
      span[aria-hidden] {
        background: var(--border-color-disabled);
        color: var(--text-color-disabled);
      }

      .react-aria-SelectValue {
        &[data-placeholder] {
          color: var(--text-color-disabled);
        }
      }
    }
  }
}

@media (forced-colors: active) {
  .react-aria-Select {
    .react-aria-Button {
      &[data-disabled] span[aria-hidden] {
        background: 0 0;
      }
    }
  }
}

.react-aria-Select {
  .react-aria-FieldError {
    font-size: 12px;
    color: var(--invalid-color);
  }

  [slot="description"] {
    font-size: 12px;
  }
}
