@import "../theme.css";

.alinea-rac-Statusbar {
  padding: 0px 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  /* border-bottom: 1px var(--figma-border-default) solid; */
  width: 100%;
}

.alinea-rac-Statusbar-published {
  background-color: var(--alinea-status-success-background);
}

.alinea-rac-Link {
  color: var(--alinea-text-dark);
}

.alinea-rac-Link[data-hovered] {
  color: var(--alinea-text-dark);
  text-decoration: underline;
  text-underline-offset: 2px;
}

.alinea-rac-Link[data-disabled] {
  cursor: default;
  color: var(--alinea-text-dark);
}

.react-aria-Breadcrumbs {
  color: var(--alinea-text-dark);
}
