@import "../theme.css";

.alinea-Table {
  outline: none;
  border-spacing: 0;
  max-width: 100%;
  min-height: 100px;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  overflow: hidden;
  word-break: break-word;
  forced-color-adjust: none;

  &[data-focus-visible] {
    outline: 2px solid var(--focus-ring-color);
    outline-offset: -1px;
  }

  .alinea-TableHeader {
    color: var(--text-color);

    & tr:last-child .alinea-Column {
      border-bottom: 1px solid var(--border-color);
      cursor: default;
    }
  }

  .alinea-Row {
    outline: none;
    cursor: default;
    color: var(--text-color);
    font-size: 14px;
    position: relative;

    [data-striped] &:nth-child(odd) {
      background-color: var(--background-color);
    }

    &[data-focus-visible] {
      outline: 2px solid var(--focus-ring-color);
      outline-offset: -2px;
    }

    &[data-pressed] {
      background: var(--background-color-hover);
    }

    &[data-selected] {
      background: var(--highlight-background);
      color: var(--highlight-foreground);
      --focus-ring-color: var(--highlight-foreground);

      &[data-focus-visible],
      .alinea-Cell[data-focus-visible] {
        outline-offset: -4px;
      }
    }

    &[data-disabled] {
      color: var(--text-color-disabled);
    }
  }

  .alinea-Cell,
  .alinea-Column {
    padding: 8px;
    text-align: left;
    outline: none;

    [data-striped] & {
      padding-block: 12px;
    }

    &[data-focus-visible] {
      outline: 2px solid var(--focus-ring-color);
      outline-offset: -2px;
    }
  }

  .alinea-Cell {
    transform: translateZ(0);
  }
}

:where(.alinea-Row) .alinea-Checkbox {
  --selected-color: var(--highlight-foreground);
  --selected-color-pressed: var(--highlight-foreground-pressed);
  --checkmark-color: var(--highlight-background);
  --background-color: var(--highlight-background);
}

.alinea-Row[data-href] {
  cursor: pointer;
}

.alinea-Column {
  .alinea-Column-sortIndicator {
    padding: 0 2px;
  }

  &:not([data-sort-direction]) .alinea-Column-sortIndicator {
    visibility: hidden;
  }
}

.alinea-TableBody {
  &[data-empty] {
    font-size: 14px;
    text-align: center;
    font-style: italic;
  }
}

.alinea-ResizableTableContainer {
  max-width: 400px;
  overflow: auto;
  position: relative;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  background: var(--background-color);

  .alinea-Table {
    border: none;
  }

  .column-name,
  .alinea-Button {
    --background-color: var(--overlay-background);
    flex: 1;
    font: inherit;
    text-align: start;
    color: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    border-color: transparent;
    transition: background 200ms;
    &[data-hovered] {
      background: var(--highlight-hover);
    }

    &[data-pressed] {
      background: var(--highlight-pressed);
      box-shadow: none;
    }

    &:focus-visible {
      outline: 2px solid var(--focus-ring-color);
    }
  }

  .alinea-ColumnResizer {
    width: 15px;
    background-color: grey;
    height: 25px;
    flex: 0 0 auto;
    touch-action: none;
    box-sizing: border-box;
    border: 5px;
    border-style: none solid;
    border-color: transparent;
    background-clip: content-box;

    &[data-resizable-direction="both"] {
      cursor: ew-resize;
    }

    &[data-resizable-direction="left"] {
      cursor: e-resize;
    }

    &[data-resizable-direction="right"] {
      cursor: w-resize;
    }

    &[data-focus-visible] {
      background-color: var(--focus-ring-color);
    }

    &[data-resizing] {
      border-color: var(--focus-ring-color);
      background-color: transparent;
    }
  }

  .alinea-Column,
  .alinea-Cell {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.alinea-Row {
  &[data-dragging] {
    opacity: 0.6;
    transform: translateZ(0);
  }

  [slot="drag"] {
    all: unset;
    width: 15px;
    text-align: center;

    &[data-focus-visible] {
      border-radius: 4px;
      outline: 2px solid var(--focus-ring-color);
    }
  }
}

.alinea-DropIndicator[data-drop-target] {
  outline: 1px solid var(--highlight-background);
  transform: translateZ(0);
}

.alinea-Table[data-drop-target] {
  outline: 2px solid var(--highlight-background);
  outline-offset: -1px;
  background: var(--highlight-overlay);
}

.alinea-Row[data-drop-target] {
  outline: 2px solid var(--highlight-background);
  background: var(--highlight-overlay);
}

.alinea-DropIndicator[data-drop-target] {
  outline: 1px solid var(--highlight-background);
  transform: translateZ(0);
}

.alinea-Cell img {
  height: 30px;
  width: 30px;
  object-fit: cover;
  display: block;
}
