@import "../theme.css";

.alinea-rac-Tabs {
  display: flex;
  color: var(--text-color);

  &[data-orientation="horizontal"] {
    flex-direction: column;
  }

  &[data-variant="enclosed"] {
    align-items: flex-start;
  }
}

.alinea-rac-TabList {
  display: flex;

  &[data-orientation="horizontal"] {
    border-bottom: 1px solid var(--border-color);
  }

  [data-variant="subtle"] &,
  [data-variant="enclosed"] & {
    border: none;
    gap: 4px;
  }

  [data-variant="enclosed"] & {
    background-color: var(--background-color);
    border-radius: 8px;
    padding: 4px;
  }
}

.alinea-rac-Tab {
  outline: none;
  cursor: pointer;
  position: relative;
  padding: 8px;
  color: var(--text-color-base);
  font-size: 14px;
  line-height: 1.25rem;
  font-weight: 500;
  transition: var(--transition);
  forced-color-adjust: none;

  [data-variant="line"] & {
    padding: 16px 8px;

    &:before {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 0;
      right: 0;
      height: 2px;
      background-color: var(--border-color);
      transform-origin: bottom right;
      transform: scaleX(0);
      transition: var(--transition);
      transition-property: background, opacity, transform;
    }
  }

  [data-variant="subtle"] &,
  [data-variant="enclosed"] & {
    padding: 8px 16px;
    border-radius: 8px;
  }

  &[data-hovered],
  &[data-focused] {
    color: var(--text-color-hover);

    [data-variant="line"] &:before {
      transform-origin: bottom left;
      transform: scaleX(1);
    }

    [data-variant="subtle"] &,
    [data-variant="enclosed"] & {
      background-color: var(--background-color-hover);
    }
  }

  &[data-selected] {
    color: var(--text-color);

    [data-variant="line"] &:before {
      background-color: var(--highlight-background);
      transform-origin: bottom left;
      transform: scaleX(1);
    }

    [data-variant="subtle"] &,
    [data-variant="enclosed"] & {
      color: var(--indigo-500);
      background-color: var(--indigo-100);
    }
  }

  &[data-disabled] {
    color: var(--text-color-disabled);
    &[data-selected] {
      --border-color: var(--text-color-disabled);
    }
  }

  &[data-focus-visible] {
    outline: 2px solid var(--focus-ring-color);
  }
}

.alinea-rac-TabPanel {
  margin-top: 4px;
  padding: 10px;
  border-radius: 4px;
  outline: none;

  [data-orientation="vertical"] & {
    margin-top: 0;
  }

  &[data-focus-visible] {
    outline: 2px solid var(--focus-ring-color);
  }
}

.alinea-rac-Tabs {
  &[data-orientation="vertical"] {
    flex-direction: row;
  }
}

.alinea-rac-TabList {
  &[data-orientation="vertical"] {
    flex-direction: column;

    .alinea-rac-Tab {
      padding: 8px 16px;
      &:before {
        left: auto;
        bottom: auto;
        top: 0;
        right: 0;
        width: 2px;
        height: 100%;
        transform: none;
        opacity: 0;
      }

      &[data-hovered]:before,
      &[data-focused]:before,
      &[data-selected]:before {
        opacity: 1;
      }
    }
  }
}

.alinea-rac-Tab {
  &[data-disabled] {
    color: var(--text-color-disabled);
    &[data-selected] {
      --border-color: var(--border-color-disabled);
    }
  }
}

.alinea-rac-Tab[href] {
  text-decoration: none;
  cursor: pointer;
}
