@import "../theme.css";

.alinea-rac-TextField {
  display: flex;
  flex-direction: column;
  gap: 4px;

  .alinea-rac-TextField-input,
  .alinea-rac-TextField-multiline-area,
  .alinea-rac-TextField-multiline-shadow {
    font: inherit;
    outline: none;
    width: 100%;
    padding: 8px 10px;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    background-color: transparent;
    font-size: 0.875rem;
    line-height: 1.5;
    color: var(--field-text-color);
    transition: var(--transition);
    background-color: var(--field-background);

    &::placeholder {
      color: var(--text-color-placeholder);
    }

    &[data-hovered] {
      border-color: var(--border-color-hover);
    }
    &[data-focused] {
      border-color: var(--highlight-background);
      border-color: var(--indigo-500);
      box-shadow: 0 0 0 4px var(--highlight-overlay);
    }
    &[data-invalid="true"] {
      border: 1px solid var(--danger-500);
      outline: 3px solid rgb(from var(--danger-500) r g b / 50%);
    }
    &[disabled] {
      pointer-events: none;
      background-color: var(--field-background-disabled);
      color: var(--text-color-disabled);
      opacity: 0.5;
    }
    &[readonly] {
      pointer-events: none;
      background-color: var(--field-background-disabled);
      color: var(--text-color-disabled);
      opacity: 1;
    }
  }

  .alinea-rac-TextField-multiline {
    display: grid;
    width: 100%;
  }

  .alinea-rac-TextField-multiline-area {
    grid-area: 1 / 1 / 2 / 2;
    overflow-x: auto;
    resize: none;
    white-space: pre-wrap;
  }

  .alinea-rac-TextField-multiline-shadow {
    grid-area: 1 / 1 / 2 / 2;
    overflow-x: auto;
    visibility: hidden;
    white-space: pre-wrap;
  }
}
