@import "../components/List.css";
@import "./ToggleButton.css";
@import "../theme.css";

.react-aria-GridList {
  max-height: inherit;
  overflow: auto;
  forced-color-adjust: none;
  outline: none;
  width: 250px;
  max-height: 300px;
  min-height: 100px;
  box-sizing: border-box;

  &[data-focus-visible] {
    outline: 2px solid var(--alinea-focus-ring-color);
    outline-offset: -1px;
  }

  &[data-empty] {
    align-items: center;
    justify-content: center;
    font-style: italic;
  }
}

.react-aria-GridListItem.alinea-rac-ListItem {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 8px;
  min-height: 26px;
  padding: 6px 8px;
  outline: none;
  cursor: default;
  position: relative;
  transform: translateZ(0);

  &[data-focus-visible] {
    outline: 2px solid var(--alinea-focus-ring-color);
    outline-offset: -2px;
  }

  &[data-pressed] {
    background: var(--alinea-gray-100);
  }

  &[data-selected] {
    background: var(--alinea-highlight-background);
    color: var(--alinea-highlight-foreground);
    --alinea-focus-ring-color: var(--alinea-highlight-foreground);

    &[data-focus-visible] {
      outline-color: var(--alinea-highlight-foreground);
      outline-offset: -4px;
    }

    .react-aria-Button {
      color: var(--alinea-highlight-foreground);
      --alinea-highlight-hover: rgb(255 255 255 / 0.1);
      --alinea-highlight-pressed: rgb(255 255 255 / 0.2);
    }
  }

  &[data-disabled] {
    color: var(--alinea-text-color-disabled);
  }

  .react-aria-Button:not([slot]) {
    margin-left: auto;
  }

  .react-aria-Button {
    background: transparent;
    border: none;
    font-size: 1.2rem;
    line-height: 1.2em;
    padding: 0.286rem 0.429rem;
    transition: background 200ms;

    &[data-hovered] {
      background: var(--alinea-highlight-hover);
    }

    &[data-pressed] {
      background: var(--alinea-highlight-pressed);
      box-shadow: none;
    }
  }
}

/* join selected items if :has selector is supported */
@supports selector(:has(.foo)) {
  .react-aria-GridListItem.alinea-rac-ListItem[data-selected]:has(
      + [data-selected]
    ),
  .react-aria-GridListItem.alinea-rac-ListItem[data-selected]:has(
      + .react-aria-DropIndicator + [data-selected]
    ) {
    border-end-start-radius: 0;
    border-end-end-radius: 0;
  }

  .react-aria-GridListItem.alinea-rac-ListItem[data-selected] + [data-selected],
  .react-aria-GridListItem.alinea-rac-ListItem[data-selected]
    + .react-aria-DropIndicator
    + [data-selected] {
    border-start-start-radius: 0;
    border-start-end-radius: 0;
  }
}

:where(.react-aria-GridListItem) .react-aria-Checkbox {
  --alinea-selected-color: var(--alinea-highlight-foreground);
  --alinea-selected-color-pressed: var(--alinea-highlight-foreground-pressed);
  --alinea-checkmark-color: var(--alinea-highlight-background);
  --alinea-background-color: var(--alinea-highlight-background);
}

.react-aria-GridListItem[data-href] {
  cursor: pointer;
}

.react-aria-GridListItem {
  &[data-allows-dragging] {
    padding-left: 4px;
  }

  &[data-dragging] {
    opacity: 0.6;
  }

  [slot="drag"] {
    width: 15px;
    text-align: center;

    &[data-focus-visible] {
      border-radius: 4px;
      outline: 2px solid var(--alinea-focus-ring-color);
    }
  }
}

.react-aria-DropIndicator {
  &[data-drop-target] {
    outline: 1px solid var(--alinea-highlight-background);
  }

  @supports not selector(:has(.foo)) {
    /* Undo gap in browsers that don't support :has */
    margin-bottom: -2px;
  }
}

.react-aria-GridList[data-drop-target] {
  outline: 2px solid var(--alinea-highlight-background);
  outline-offset: -1px;
  background: var(--alinea-highlight-overlay);
}

.react-aria-GridListItem[data-drop-target] {
  outline: 2px solid var(--alinea-highlight-background);
  background: var(--alinea-highlight-overlay);
}
