@import "../theme.css";

.alinea-rac-Sidebar {
  display: flex;
  flex-direction: column;
  background: var(--alinea-sidebar-background);
  border-right: 1px solid var(--alinea-border-color);
  overflow: auto;
}

.alinea-rac-SidebarHeader {
  padding: 12px 12px 0;
  display: flex;
  align-items: center;
  gap: 8px;
  border-bottom: 1px solid var(--alinea-border-color);
}

.alinea-rac-SidebarBody {
  flex: 1;
  overflow: auto;
}

.alinea-rac-SidebarFooter {
  padding: 12px;
}
