@import "../theme.css";

.react-aria-TextField {
  .react-aria-Label {
    color: var(--text-color);
    font-size: 13px;
    font-weight: 600;
    display: block;
    padding-bottom: 4px;
    transition: var(--transition);
    transition-property: color;
  }

  &:has([data-focused]) {
    .react-aria-Label {
      color: var(--text-color-focused);
    }
  }

  .react-aria-Input,
  .react-aria-TextArea {
    font: inherit;
    outline: none;
    width: 100%;
    padding: 8px 10px;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    background: var(--field-background);
    font-size: 0.875rem;
    line-height: 1.5;
    color: var(--field-text-color);
    transition: var(--transition);

    &[data-hovered] {
      border-color: var(--border-color-hover);
    }

    &[data-focused] {
      border-color: var(--highlight-background);
      box-shadow: 0 0 0 4px var(--highlight-overlay);
    }
  }

  .react-aria-Input,
  .react-aria-TextArea {
    &[data-invalid] {
      border-color: var(--invalid-color);
      box-shadow: 0 0 0 4px var(--invalid-overlay);
    }
  }

  .react-aria-FieldError {
    font-size: 12px;
    color: var(--invalid-color);
  }

  [slot="description"] {
    font-size: 12px;
  }

  .react-aria-Input,
  .react-aria-TextArea {
    &[data-disabled] {
      border-color: var(--border-color-disabled);
      color: var(--text-color-disabled);
    }
  }
}
