@import "../theme.css";
@import "./Button.css";
@import "./Checkbox.css";

.react-aria-Tree {
  display: block;
  margin: 4px 0 0 0;
  border: 1px solid gray;
  background: white;
  width: 300px;
  height: 300px;
  overflow: auto;
}

.react-aria-TreeItem {
  padding: 4px 5px;
  height: 30px;
  cursor: default;
  color: black;
  background: transparent;
  display: flex;
  padding-left: calc((var(--tree-item-level) - 1) * 20px);
}

.react-aria-TreeItemContent {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.react-aria-TreeItemLabel {
  margin-left: 0.5rem;
}

.react-aria-TreeItemCheckbox {
  margin-right: 0.5rem;
}

.react-aria-TreeItemIndicator {
  margin-right: 0.5rem;
  cursor: pointer;
}
